<!DOCTYPE html>
<html lang="en">
  <head>
    
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mridata.org</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href={% static "favicons/apple-touch-icon.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "favicons/favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "favicons/favicon-16x16.png" %}>
    <link rel="manifest" href={% static "favicons/manifest.json" %}>
    <link rel="mask-icon" href={% static "favicons/safari-pinned-tab.svg"%}>
    <meta name="theme-color" content="#ffffff">
  </head>
  
  <body>

    {% include "mridata/navbar.html" %}
    <div class="container-fluid">
      {% block body_block %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/terms.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" >
    <script type="text/javascript" src="{% static 'js/terms.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/forms.js' %}"> </script>
  </body>
</html>
