{% load staticfiles %}
<table class="table" align="left">
  <tr>
    <td rowspan="3" width="30%" align="center">
      <img src=
	   {% if data.thumbnail_file %}
	   "{{ data.thumbnail_file.url }}"
	   {% else %}
	   {% static "images/default_thumbnail.png" %}
	   {% endif %}
	   height="128"
	   class=
	   {% if data.thumbnail_rotate_90_degree %}
	   {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	   "rounded img-hor-vert-rot90"
	   {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	   "rounded img-vert-rot90"
	   {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
	   "rounded img-hor-rot90"
	   {% else %}
	   "rounded"
	   {% endif %}
	   {% else %}
	   {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	   "rounded img-hor-vert"
	   {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	   "rounded img-vert"
	   {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
	   "rounded img-hor"
	   {% else %}
	   "rounded"
	   {% endif %}
	   {% endif %}
	   >
    </td>
    <td align="left" class="text-muted">
      Anatomy:
    </td>
    <td align="left" class="text-muted">
      {{ data.anatomy }}
    </td>
  </tr>
  <tr>
    <td align="left" class="text-muted">
      Fullysampled:
    </td>
    <td align="left" class="text-muted">
      {% if data.fullysampled is None %}
      Unknown
      {% elif data.fullysampled %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <td align="left" class="text-muted">
      Uploader:
    </td>
    <td align="left" class="text-muted">
      {{ data.uploader }}
    </td>
  </tr>
</table>
