{% load staticfiles %}
<table class="table" align="left">
  <tr>
    <td rowspan="3" width="30%" align="center">
      <img src=
	   {% if data.thumbnail_file %}
	   "{{ data.thumbnail_file.url }}"
	   {% else %}
	   {% static "images/default_thumbnail.png" %}
	   {% endif %}
	   class="rounded" height="128">
    </td>
    <td align="left" class="text-muted">
      Anatomy:
    </td>
    <td align="left" class="text-muted">
      {{ data.anatomy }}
    </td>
  </tr>
  <tr>
    <td align="left" class="text-muted">
      Fullysampled:
    </td>
    <td align="left" class="text-muted">
      {% if data.fullysampled is None %}
      Unknown
      {% elif data.fullysampled %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <td align="left" class="text-muted">
      Uploader:
    </td>
    <td align="left" class="text-muted">
      {{ data.uploader }}
    </td>
  </tr>
</table>
