{% extends "mridata/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/search_bar.css' %}" type="text/css" >
<link type="text/css" href="{% static 'css/expand.css' %}" rel="stylesheet">

<script type="text/javascript">
	function showHideDiv(ele, type) {
	       var srcElement = document.getElementById(ele);
	       if (srcElement != null) {
	               if (srcElement.style.display != "none") {
	                       srcElement.style.display = 'none';
	               } else {
	                       srcElement.style.display = type;
	               }
	               return false;
	       }
	}
</script>

<form action method="get" enctype="multipart/form-data">
 {% csrf_token %}

  <div class="container">
  	<div class="col">
    	<div class="row" id="custom-search-input">
      	<div class="input-group col-md-12">
        	{{filter.form.search}}
          <span class="input-group-btn">
	          <a class="right collapsed" style="padding:10px " onclick="showHideDiv('advanceSearchOff', 'inline'); showHideDiv('advanceSearchOn', 'inline');" >
	          	<span class="if-collapsed" id="advanceSearchOff" style="display: inline"><i class="down"></i></span>
	            <span class="if-collapsed" id="advanceSearchOn" style="display: none"><i class="up"></i></span>
	          </a>
	          <button class="btn btn-lg" type="submit"> &#x1F50D </button>
						<button class="btn btn-lg" onClick="showHideDiv('advance-custom-search')" type="button"> &#10067</button>
       		</span>
        </div>
      </div>
     </div>
  </div>
</form>




<div class="col">
    Total {{filter.qs|length}} datasets
    {% if user.is_authenticated %}
      <a href="{% url 'data' uuid=filter.qs %}" class="btn btn-info btn-sm float-md-right">
        Download Datasets
      </a>
    {% else %}
      <a href="data:text/plain;charset=utf-8,{% for data in filter.qs %}{{data.uuid}}%0D%0A{% endfor %}"
         class="btn btn-info btn-sm float-md-right"
         download="uuids.txt">
        Download UUIDs
      </a>
    {% endif %}


    <div id="data_list">
      {% if logs|length > 0 %}
	      {% include "mridata/log_card.html" %}
      {% endif %}

      {% include "mridata/data_list_page.html" %}
    </div>
  </div>
<br>
<br>
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/thumbnail.css' %}" type="text/css" >
{% endblock %}

{% block js_block %}
<script src="{% static 'js/el-pagination.js' %}"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/data_list.js' %}"> </script>
{% endif %}
{% endblock %}
