{% extends "mridata/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
  <div class="col-md-auto text-center">
    <form action="" method="get">
      <table class="small table-sm text-left mb-3">
	{{ filter.form.as_table }}
      </table>
      <button type="submit" class="save btn btn-primary btn-sm">Search</button>
    </form>
  </div>
  
  <div class="col">
    Total {{filter.qs|length}} datasets
    <div  id="data_list">
      {% if logs|length > 0 %}
	{% include "mridata/log_card.html" %}
      {% endif %}
      
      {% include "mridata/data_list_page.html" %}
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}

{% block js_block %}
<script src="{% static 'js/el-pagination.js' %}"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/data_list.js' %}"> </script>
{% endif %}
{% endblock %}
