{% load staticfiles %}
<div class="row small align-items-center">
  <div class="col-3 text-center">
    <img src=
	 {% if data.thumbnail_file %}
	 "{{ data.thumbnail_file.url }}"
	 {% else %}
	 {% static "images/default_thumbnail.png" %}
	 {% endif %}
	 height="128"
	 class=
	 {% if data.thumbnail_transpose %}
	 {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	 "rounded img-hor-vert-transpose"
	 {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	 "rounded img-vert-transpose"
	 {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
	 "rounded img-hor-transpose"
	 {% else %}
	 "rounded img-transpose"
	 {% endif %}
	 {% else %}
	 {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	 "rounded img-hor-vert"
	 {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
	 "rounded img-vert"
	 {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
	 "rounded img-hor"
	 {% else %}
	 "rounded"
	 {% endif %}
	 {% endif %}
	 >
  </div>
  <div class="col-9">
    <table class="table-sm">
      <tr>
	<td class="text-muted text-left" width="15%">
	  Project:
	</td>
	<td class="text-muted text-center">
	  {{ data.project.name }}
	</td>
      </tr>
      
      <tr>
	<td class="text-muted text-left" width="15%">
	  Anatomy:
	</td>
	<td class="text-muted text-center">
	  {{ data.anatomy }}
	</td>
      </tr>
      
      <tr>
	<td class="text-muted text-left" width="15%">
	  Fullysampled:
	</td>
	<td class="text-muted text-center">
	  {% if data.fullysampled is None %}
	  Unknown
	  {% elif data.fullysampled %}
	  Yes
	  {% else %}
	  No
	  {% endif %}
	</td>
      </tr>
      
      <tr>
	<td class="text-muted text-left" width="15%">
	  Uploader:
	</td>
	<td class="text-muted text-center">
	  {{ data.uploader }}
	</td>
      </tr>
    </table>
  </div>
</div>
