{% extends 'mridata/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block body_block %}
{% if user == data.uploader.user %}
<br>
<div class="col">
  <div class="card text-center">
    <form method="POST" class="form mb-3" enctype="multipart/form-data">
      <br>
      {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <div class="form-group" align="left">
      <h5> Project Name </h5>
        {% render_field form.project_name class='form-control' %}
        {% for error in form.project_name.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Anatomy </h5>
        {% render_field form.anatomy class='form-control' %}
        {% for error in form.anatomy.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Fully Sampled </h5>
        {% render_field form.fullysampled class='form-control' %}
        {% for error in form.fullysampled.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> References </h5>
        {% render_field form.references class='form-control' %}
        {% for error in form.references.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Commmets </h5>
        {% render_field form.comments class='form-control' %}
        {% for error in form.comments.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Funding Support </h5>
        {% render_field form.funding_support class='form-control' %}
        {% for error in form.funding_support.errors %}
        <span class="help-block"> {{error}} </span>
        {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Thumbnail File </h5>
      <img  src= {{image_url}}
       class=
       {% if data.thumbnail_transpose %}
       {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
       "rounded img-hor-vert-transpose"
       {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
       "rounded img-vert-transpose"
       {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
       "rounded img-hor-transpose"
       {% else %}
       "rounded img-transpose"
       {% endif %}
       {% else %}
       {% if data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
       "rounded img-hor-vert"
       {% elif not data.thumbnail_horizontal_flip and data.thumbnail_vertical_flip %}
       "rounded img-vert"
       {% elif data.thumbnail_horizontal_flip and not data.thumbnail_vertical_flip %}
       "rounded img-hor"
       {% else %}
       "rounded img"
       {% endif %}
       {% endif %}
       >
      <br>
      {% render_field form.thumbnail_file class='form-control' %}
      {% for error in form.thumbnail_file.errors %}
      <span class="help-block"> {{error}} </span>
      {% endfor %}
    </div>
    <div class="form-group" align="left">
      <h5> Thumbnail Configuration</h5>
      <table class="table-sm text-center" align="left">
         <tr>
             <td> Horizontal flip: {{ form.thumbnail_horizontal_flip }} </td>
             <td> Vertical flip: {{ form.thumbnail_vertical_flip }} </td>
             <td> Transpose: {{ form.thumbnail_transpose }} </td>
         </tr>
      </table>
    </div>
    <br>
    <br>

      <button type="submit" class="save btn btn-primary">Submit</button>
      <a href="{% url 'data_list' %}" class="btn btn-danger" role="button">Cancel</a>
    </form>
    <br>
  </div>
</div>
<br>
<br>
{% endif %}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/thumbnail.css' %}" type="text/css" >
{% endblock %}
