{% extends "mridata/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="row">
  <div class="col-md-auto text-center">
    <form action="" method="get">
      <table class="small table-sm text-left mb-3">
	{{ filter.form.as_table }}
      </table>
      <button type="submit" class="save btn btn-primary btn-sm">Search</button>
    </form>
  </div>
  
  <div class="col" id="data_list">    
    {% if logs|length > 0 %}
    <a href="{% url 'log_delete_all' pk=user.pk %}"
       class="btn btn-secondary btn-sm">
      Clear Logs
    </a>
    {% endif %}
    {% for log in logs %}
    {% include "mridata/log_card.html" %}
    {% endfor %}

    Total {{filter.qs|length}} datasets
    {% include "mridata/data_list_page.html" %}
  </div>
</div>
<br>
<br>
{% endblock %}

{% block js_block %}
<script src="{% static 'js/el-pagination.js' %}"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'js/data_list.js' %}"> </script>
{% endif %}
{% endblock %}
