<div class="card my-2">
  <div class="container my-2">
      {% include "mridata/data_summary.html" with data=data %}
      {% block js_block %}
      <script>
	function changeToolTip(id){
            var el = document.getElementById(id);
            if (el.getAttribute('data-tooltip') == 'expand') {
		el.setAttribute('data-tooltip', 'collapse');
            } else {
		el.setAttribute('data-tooltip', 'expand');
            }
	}
      </script>
      {% endblock %}
      <div class="text-center">
	<a data-tooltip="expand"  data-tooltip-pos="right" id="head_button{{data.uuid}}" class="right collapsed" data-toggle="collapse" data-target="#collapse{{data.uuid}}"
	   onclick="changeToolTip('head_button{{data.uuid}}');">
          <span class="if-collapsed"><i class="down"></i></span>
          <span class="if-not-collapsed"><i class="up"></i></span>
	</a>
      </div>
    <div id="collapse{{ data.uuid }}" class="card-collapse collapse">
      {% include "mridata/data_detail.html" with data=data %}
    </div>
  </div>
</div>
