<a href="{% url 'data_download' uuid=data.uuid %}" class="btn btn-primary"
   id="download" uuid="{{data.uuid}}">
  Download
</a>

<a href="{% url 'data' uuid=data.uuid %}" class="btn btn-secondary">
  Permalink
</a>

{% if user == data.uploader %}
<a href="{% url 'data_edit' uuid=data.uuid %}" class="btn btn-info">
  Edit
</a>
<a href="{% url 'data_delete' uuid=data.uuid %}"
   onclick="return confirm('Are you sure you want to delete?')"
   class="btn btn-danger">
  Delete
</a>
{% endif %}

<table class="table table-striped" style="width:100%" align="center">

  <tr>
    <th>Anatomy</th>
    <td>{{ data.anatomy }}</td> 
  </tr>
  
  <tr>
    <th>Sequence Name</th>
    <td>{{ data.sequence_name }}</td> 
  </tr>
  
  <tr>
    <th>Trajectory</th>
    <td>{{ data.trajectory }}</td> 
  </tr>
  
  <tr>
    <th>Fullysampled</th>
    <td>{{ data.fullysampled }}</td> 
  </tr>
  
  <tr>
    <th>Matrix Size</th>
    <td>
      {{data.matrix_size_x}} x {{data.matrix_size_y}}
      {% if data.matrix_size_z > 1 %}x {{data.matrix_size_z}}{% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Resolution</th>
    <td>
      {{data.resolution_x|floatformat}} mm x {{data.resolution_y|floatformat}} mm
      {% if data.matrix_z > 1 %}x {{data.resolution_z|floatformat}} mm{% endif %}
      {% if data.number_of_time_frames > 1 %}x {{data.resolution_t|floatformat}} ms{% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Number of Channels</th>
    <td>
      {% if data.number_of_channels == -1 %}
      N/A
      {% else %}
      {{ data.number_of_channels }}
      {% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Number of Slices</th>
    <td>
      {% if data.number_of_slices == -1 %}
      N/A
      {% else %}
      {{ data.number_of_slices }}
      {% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Number of Repetition</th>
    <td>
      {% if data.number_of_repetitions == -1 %}
      N/A
      {% else %}
      {{ data.number_of_repetitions }}
      {% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Number of Contrasts</th>
    <td>
      {% if data.number_of_contrasts == -1 %}
      N/A
      {% else %}
      {{ data.number_of_contrasts }}
      {% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Scanner Vendor</th>
    <td>{{ data.scanner_vendor }}</td> 
  </tr>
  
  <tr>
    <th>Scanner Model</th>
    <td>{{ data.scanner_model }}</td> 
  </tr>
  
  <tr>
    <th>Scanner Field Strength</th>
    <td>
      {% if data.scanner_field == -1 %}
      N/A
      {% else %}
      {{ data.scanner_field }} T
      {% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Flip Angle</th>
    <td>
      {% if data.flip_angle == -1 %}
      N/A
      {% else %}
      {{ data.flip_angle|floatformat }} &deg;
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <th>Echo Time</th>
    <td>
      {% if data.flip_angle == -1 %}
      N/A
      {% else %}
      {{ data.te|floatformat }} ms
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <th>Repetition Time</th>
    <td>
      {% if data.flip_angle == -1 %}
      N/A
      {% else %}
      {{ data.tr|floatformat }} ms
      {% endif %}
    </td>
  </tr>

  <tr>
    <th>Inversion Time</th>
    <td>
      {% if data.flip_angle == -1 %}
      N/A
      {% else %}
      {{ data.ti|floatformat }} ms
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <th>UUID</th>
    <td>{{ data.uuid }}</td> 
  </tr>
  
  <tr>
    <th>Uploader</th>
    <td>{{ data.uploader }}</td> 
  </tr>
  
  <tr>
    <th>Upload Date</th>
    <td>{{ data.upload_date }}</td> 
  </tr>
</table>
