<a href="{{data.ismrmrd_file.url}}" class="btn btn-primary">
  Download
</a>

<a href="{% url 'data' uuid=data.uuid %}" class="btn btn-secondary">
  Permalink
</a>

{% if user == data.uploader.user %}
<a href="{% url 'data_edit' uuid=data.uuid %}" class="btn btn-info">
  Edit
</a>
<a href="{% url 'data_delete' uuid=data.uuid %}"
   onclick="return confirm('Are you sure you want to delete?')"
   class="btn btn-danger">
  Delete
</a>
{% endif %}

<table class="table table-striped" style="width:100%" align="center">

      {% if data.references != '' %}
  <tr>
    <th>References</th>
    <td>
      {{ data.references }}
    </td>
  </tr>
      {% endif %}
  
      {% if data.comments != '' %}
  <tr>
    <th>Comments</th>
    <td>
      {{ data.comments }}
    </td>
  </tr>
      {% endif %}
  
  <tr>
    <th>Sequence Name</th>
    <td>{{ data.sequence_name }}</td> 
  </tr>
  
  <tr>
    <th>Trajectory</th>
    <td>{{ data.trajectory }}</td> 
  </tr>
  
  <tr>
    <th>Matrix Size</th>
    <td>
      {{data.matrix_size_x}} x {{data.matrix_size_y}}
      {% if data.matrix_size_z > 1 %}x {{data.matrix_size_z}}{% endif %}
    </td> 
  </tr>
  
  <tr>
    <th>Resolution</th>
    <td>
      {{data.resolution_x|floatformat}} mm x {{data.resolution_y|floatformat}} mm 
      {% if data.matrix_size_z > 1 %}x {{data.resolution_z|floatformat}} mm{% endif %}
      {% if data.number_of_time_frames > 1 %}x {{data.resolution_t|floatformat}} ms{% endif %}
    </td> 
  </tr>
  
  {% if data.number_of_channels != -1 %}
  <tr>
    <th>Number of Channels</th>
    <td>
      {{ data.number_of_channels }}
    </td> 
  </tr>
  {% endif %}
  
  {% if data.number_of_slices != -1 %}
  <tr>
    <th>Number of Slices</th>
    <td>
      {{ data.number_of_slices }}
    </td> 
  </tr>
  {% endif %}
  
  {% if data.number_of_repetitions != -1 %}
  <tr>
    <th>Number of Repetition</th>
    <td>
      {{ data.number_of_repetitions }}
    </td> 
  </tr>
  {% endif %}
  
  {% if data.number_of_contrasts != -1 %}
  <tr>
    <th>Number of Contrasts</th>
    <td>
      {{ data.number_of_contrasts }}
    </td> 
  </tr>
  {% endif %}
  
  <tr>
    <th>Scanner Vendor</th>
    <td>{{ data.scanner_vendor }}</td> 
  </tr>
  
  <tr>
    <th>Scanner Model</th>
    <td>{{ data.scanner_model }}</td> 
  </tr>
  
      {% if data.scanner_field != -1 %}
  <tr>
    <th>Scanner Field Strength</th>
    <td>
      {{ data.scanner_field }} T
    </td> 
  </tr>
      {% endif %}
  
  {% if data.flip_angle != -1 %}
  <tr>
    <th>Flip Angle</th>
    <td>
      {{ data.flip_angle|floatformat }} &deg;
    </td>
  </tr>
  {% endif %}
  
      {% if data.te != -1 %}
  <tr>
    <th>Echo Time</th>
    <td>
      {{ data.te|floatformat }} ms
    </td>
  </tr>
  {% endif %}
  
  {% if data.tr != -1 %}
  <tr>
    <th>Repetition Time</th>
    <td>
      {{ data.tr|floatformat }} ms
    </td>
  </tr>
  {% endif %}

  {% if data.ti != -1 %}
  <tr>
    <th>Inversion Time</th>
    <td>
      {{ data.ti|floatformat }} ms
    </td>
  </tr>
  {% endif %}
  
  <tr>
    <th>UUID</th>
    <td>{{ data.uuid }}</td> 
  </tr>
  
  <tr>
    <th>Upload Date</th>
    <td>{{ data.upload_date }}</td> 
  </tr>
</table>
