<div class="card my-2">
  <div class="container my-2">
    <div class="h5 card-title text-center">
      <a href="{% url 'clear_log' %}" class="btn btn-secondary btn-sm float-md-left">
	Clear
      </a>
      <div class="float-md-center">
	Log
      </div>
    </div>
    <p class="card-text">
      <table class="table table-sm small col-12 text-left">
	{% for log in logs %}
	<tr>
	  <td>
	    {{ log.date_time | date:"m/d/y H:i:s"}}
	  </td>
	  <td>
	    <code style="white-space: pre-wrap">{{ log.string }}</code>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </p>
  </div>
</div>
