{% load staticfiles %}
<div class="card container">
  <a href="{% url 'data_list' %}?project={{project.name}}">
    <br>
    <div class="small card-title text-dark text-center">
      {{ project.name }}
    </div>
    <div class="text-center">
      <img src=
	   {% if project.data_set.first.thumbnail_file %}
	   "{{ project.data_set.first.thumbnail_file.url }}"
	   {% else %}
	   {% static "images/default_thumbnail.png" %}
	   {% endif %}
	   style="max-height:128px;max-width:128px;height:auto;width:auto;"
	   class="rounded">
    </div>
    <br>
  </a>
</div>
