{% load staticfiles %}
<table class="table-sm" align="center" width="100%">
  <tr>
    <td rowspan="4" width="25%" align="center">
      <img src=
	   {% if temp_data.failed %}
	   {% static "images/failed.png" %}
	   {% else %}
	   {% static "images/processing.gif" %}
	   {% endif %}
	   class="rounded" width="128" height="128">
    </td>
    
    <td class="text-muted text-left" width="15%">
      Project:
    </td>
    <td class="text-muted align-center">
      {{ temp_data.project.name }}
    </td>
  </tr>
  
  <tr>
    <td class="text-muted text-left" width="15%">
      Anatomy:
    </td>
    <td class="text-muted align-center">
      {{ temp_data.anatomy }}
    </td>
  </tr>
  
  <tr>
    <td class="text-muted text-left" width="15%">
      Fullysampled:
    </td>
    <td class="text-muted align-center">
      {% if temp_data.fullysampled is None %}
      Unknown
      {% elif temp_data.fullysampled %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <td class="text-muted text-left" width="15%">
      Uploader:
    </td>
    <td class="text-muted align-center">
      {{ temp_data.uploader }}
    </td>
  </tr>  
</table>
