{% load staticfiles %}
<table class="table-sm" align="center" width="100%">
  <tr>
    <td rowspan="4" width="20%" align="center">
      <img src=
	   {% if temp_data.failed %}
	   {% static "images/failed.png" %}
	   {% else %}
	   {% static "images/processing.gif" %}
	   {% endif %}
	   class="rounded" width="128" height="128">
    </td>
    
    <th class="text-muted text-left">
      Project Name:
    </th>
    <td class="text-muted align-center">
      {{ temp_data.project_name }}
    </td>
  </tr>
  
  <tr>
    <th class="text-muted text-left">
      Anatomy:
    </th>
    <td class="text-muted align-center">
      {{ temp_data.anatomy }}
    </td>
  </tr>
  
  <tr>
    <th class="text-muted text-left">
      Fullysampled:
    </th>
    <td class="text-muted align-center">
      {% if temp_data.fullysampled is None %}
      Unknown
      {% elif temp_data.fullysampled %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <th class="text-muted text-left">
      Uploader:
    </th>
    <td class="text-muted align-center">
      {{ temp_data.uploader }}
    </td>
  </tr>  
</table>
