{% extends 'mridata/base.html' %}

{% block body_block %}
<br>
<div class="col">
  <div class="card container">
    <div class="card-block">
      <p class="card-text">
	<h4>Terms of Service</h4>
	mridata.org is offered to make available datasets used in research. Use of mridata.org, both the uploading and downloading of data, denotes agreement with the following terms:
	<br>
	<br>
	<ol>
	  <li>mridata.org is a research data repository for the preservation and making available of research, educational and informational content. Access to mridata.org’s content is open to all.</li>
	  <li>The uploader shall ensure that their content is suitable for open dissemination, and that it complies with these terms and applicable laws, including, but not limited to, privacy, data protection and intellectual property rights.
	  <li>All content is provided “as-is”. Users of content (“Users”) shall respect applicable license conditions. Download and use of content from mridata.org does not transfer any intellectual property rights in the content to the User.</li>
	  <li>Users are exclusively responsible for their use of content, and shall hold mridata.org free and harmless in connection with their download and/or use.</li>
	  <li>mridata.org reserves the right, without notice, at its sole discretion and without liability, (i) to alter or delete inappropriate content, and (ii) to restrict or remove User access where it considers that use of mridata.org interferes with its operations or violates these Terms of Service or applicable laws.</li>
	  <li>These Terms of Service are subject to change by mridata.org at any time and without notice, other than through posting the updated Terms of Service on the mridata.org website.
	  </li>
	</ol>
      </p>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
