{% if form.ge_file %}
<tr>
  <th>GE File:</th>
  <td>
    {{ form.ge_file }}
  </td>
  <td>
</tr>
{% endif %}

{% if form.ismrmrd_file %}
<tr>
  <th>ISMRMRD File:</th>
  <td>
    {{ form.ismrmrd_file}}
  </td>
</tr>
{% endif %}

{% if form.philips_raw_file %}
<tr>
  <th>Philips Lab File:</th>
  <td>
    {{ form.philips_lab_file }}
  </td>
  <td>
</tr>
<tr>
  <th>Philips Sin File:</th>
  <td>
    {{ form.philips_sin_file }}
  </td>
  <td>
</tr>
<tr>
  <th>Philips Raw File:</th>
  <td>
    {{ form.philips_raw_file }}
  </td>
  <td>
</tr>
{% endif %}

{% if form.siemens_dat_file %}
<tr>
  <th>Siemens File:</th>
  <td>
    {{ form.siemens_dat_file }}
  </td>
  <td>
</tr>
{% endif %}
