{% if form.ge_pfile %}
<tr> 
  <th> <label for="{{ form.ge_pfile.id_for_label }}">GE File:</label></th>
  <td class="file-upload">
    {{ form.ge_pfile }}
  </td>
  <td colspan="1">
</tr>
{% endif %}

{% if form.ismrmrd_file %}
<tr> 
  <th> <label for="{{ form.ismrmrd_file.id_for_label }}">ISMRMRD File:</label></th>
  <td class="file-upload">
    {{ form.ismrmrd_file }}
  </td>
  <td colspan="1">
</tr>
{% endif %}

{% if form.philips_raw_file %}
<tr> 
  <th> <label for="{{ form.philips_lab_file.id_for_label }}">Philips Lab File:</label></th>
  <td class="file-upload">
    {{ form.philips_lab_file }}
  </td>
  <td colspan="1">
</tr>
<tr> 
  <th> <label for="{{ form.philips_sin_file.id_for_label }}">Philips Sin File:</label></th>
  <td class="file-upload">
    {{ form.philips_sin_file }}
  </td>
  <td colspan="1">
</tr>
<tr> 
  <th> <label for="{{ form.philips_raw_file.id_for_label }}">Philips Raw File:</label></th>
  <td class="file-upload">
    {{ form.philips_raw_file }}
  </td>
  <td colspan="1">
</tr>
{% endif %}

{% if form.siemens_dat_file %}
<tr> 
  <th> <label for="{{ form.siemens_dat_file.id_for_label }}">Siemens Dat File:</label></th>
  <td class="file-upload">
    {{ form.siemens_dat_file }}
  </td>
  <td colspan="1">
</tr>
{% endif %}
