{% extends 'mridata/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block body_block %}

<div class="col text-center mb-3">
  <div class="alert alert-warning text-center mb-2">
    Please ensure your data does not contain any patient information.
    By using this website, you are agreeing to our <a href="{% url 'terms' %}">Terms of Service</a>.
  </div>
  <div class="card">
    <form method="POST" class="form mb-3" enctype="multipart/form-data">
      <br>
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% if field.label == "Thumbnail transpose" %}
      {% else %}
      {% if field.label == "Thumbnail vertical flip" %}
      {% else %}
      <div class="form-group" align='left'>
        {% if field.label == "Thumbnail horizontal flip" %}
        <h5> Thumbnail Configuration</h5>
        <table class="table-sm text-center" align="left">
           <tr>
               <td> Horizontal flip: {{ form.thumbnail_horizontal_flip }} </td>
               <td> Vertical flip: {{ form.thumbnail_vertical_flip }} </td>
               <td> Transpose: {{ form.thumbnail_transpose }} </td>
           </tr>
        </table>
        {% else %}
        <h5 for="{{ field.id_for_label }}"> {{ field.label }}</h5>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}
      {% endif %}
    {% endfor %}
    <br>
    <br>
    <br>




      <div>
	       <input type="checkbox" required>
	        <label>I agree to the <a href="{% url 'terms' %}">Terms of Service</a></label>
      </div>
      <button type="submit" class="save btn btn-primary">Upload</button>
      <a class="btn btn-danger" type="button" href="{% url 'data_list' %}">Cancel</a>
    </form>
  </div>
<!-- </div> -->
{% endblock %}


{% block js_block %}
{{ form.media }}
{% endblock %}
