{% extends 'mridata/base.html' %}
{% load static from staticfiles %}

{% block body_block %}
<br>
<div class="col text-center align-middle">
  <div class="card container alert alert-warning">
    Please read the Terms of Service and make sure your datasets do not contain patient information before uploading!
  </div>
</div>

<div class="col text-center">
  <div class="card container">
    <form method="POST" class="data-form data-form-default" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table">
	
	<tr>
	  <th>
	    Anatomy:
	  </th>
	  <td id="default-options">
	    <select id="default-options-select">
	      <option value="Unknown">Unknown</option>
	      <option value="Abdomen">Abdomen</option>
	      <option value="Brain">Brain</option>
	      <option value="Breast">Breast</option>
	      <option value="Heart">Heart</option>
	      <option value="Kidney">Kidney</option>
	      <option value="Knee">Knee</option>
	      <option value="Liver">Liver</option>
	      <option value="Phantom">Phantom</option>
	      <option value="Spine">Spine</option>
	    </select> 
	  </td>
	  <td id="custom-option" style="display:none">
	    {{ form.anatomy }}
	  </td>
	  <td>
	    <input type="checkbox" id="custom-checkbox">
	    Custom
	  </td>
	</tr>

        <tr>
          <th><label for="{{ form.fullysampled.id_for_label }}">Fullysampled:</label></th>
          <td>
	    {{ form.fullysampled }}
	  </td>
        </tr>

        <tr>
          <th>References:</th>
          <td>
	    {{ form.references }}
	  </td>
        </tr>

        <tr>
          <th>Comments:</th>
          <td>
	    {{ form.comments }}
	  </td>
        </tr>
	
	{% include "mridata/upload_file.html" %}
      </table>
      <div class="text-center terms-container">
	<input type="checkbox" required>
	<label>I agree to the <a class="terms" href="#">Terms of Service</a></label>
      </div>
      <button type="submit" class="save btn btn-primary">Upload</button>
    </form>
    <br>
  </div>
</div>
{% include "mridata/terms_modal.html" %}
{% include "mridata/upload_js.html" %}
{% endblock %}
