{% extends 'mridatabase/base.html' %}

{% block body_block %}
<br>
<div class="col">
  <div class="card container">
    <div class="card-block">
      <p class="card-text">
	<h4>Goal</h4>
	<a href="/">mridata.org</a> provides an open platform for researchers to share magnetic resonance imaging (MRI) raw datasets. The website is created through a collaboration between <a href="https://people.eecs.berkeley.edu/~mlustig/">Prof. Michael Lustig</a>'s group at UC Berkeley and <a href="https://profiles.stanford.edu/shreyas-vasanawala">Dr. Shreyas Vasanawala</a>'s group at Stanford's Lucile Packard Children's Hospital. Datasets on this website can be used for a wide variety of applications. Here, we highlight two applications we have in mind: compressed sensing, and machine learning.
	<br>
	<br>
	Compressed sensing is a popular research focus in MRI, because scanner acquisition times can be sped up dramatically by exploiting image sparsity in transform domains. The tradeoff in using these techniques is that the image reconstruction step becomes computationally intensive, with a wide variety of noise-like artifacts arising when pushing the limits of acceleration. Different reconstruction method produces different tradeoffs. Researcher can use datasets on this website to validate and compare their reconstruction methods.
	<br>
	<br>
	Machine learning is an emerging research topic in MRI. It has the potential to learn the underlying image prior used in reconstruction, and/or the direct mapping from raw data to images. Current machine learning techniques require large number of datasets for training, yet the number of public MRI raw datasets is limited. Using preprocessed MR magnitude images, or small number of datasets for training can result in much inferior reconstructions than training directly from raw data. With contributions from many researchers, we hope that this website can provide more datasets to train accurate machine learning models.
	<br>
	<br>
	<h4>Contributors</h4>
	We thank (alphabetically) Anita Flynn, Frank Ong, Joyce Toh, Patrick Virtue, Shahab Amin, and Umar Tariq for contributing to the development of this website. We also thank Michelle Tamir for designing the mridata.org logo.
	<br>
	<br>
	<h4>Funding</h4>
	We thank the support of NIH R01-EB009690 and an AWS research grant.
      </p>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
