.btn-arrow span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
}

.btn-arrow span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
}

.btn-arrow:hover span {
	  padding-right: 25px;
}

.btn-arrow:hover span:after {
	  opacity: 1;
	  right: 0;
}
