.tags {
    /* list-style: none; */
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

.tags li {
    float: center;
  }

.tag {
    background: #d2dfec;
    border-radius: 3px 3px 3px 3px;
    color: blue;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    text-decoration: none;
  }

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}
