{% extends "mridatabase/base.html" %}
{% load el_pagination_tags %}

{% block body_block %}
<div class="col">
  {% paginate filter.qs as objects%}
  {% if user.is_authenticated %}
  <div class="card container card-primary text-center">
    <div class="card-block">
      <a class="text-muted" data-toggle="collapse" href="#collapse_links">
	<div align="center">ISMRMRD Links for Batch Download</div>
      </a>
      <div id="collapse_links" class="collapse">
	<p class="card-text">
	  {% for data in filter.qs %}
	  {% if data.ismrmrd_file %}
	  {{data.ismrmrd_file.url}}
	  {% endif %}
	  <br>
	  {% endfor %}
	</p>
      </div>
    </div>
  </div>
  <br>
  {% endif %}
  {% for data in objects %}
  <div class="card container text-center">
    <div class="card-block ">
      <a data-toggle="collapse" href="#collapse{{ data.id }}">
	{% include "mridatabase/data_summary.html" with data=data %}
      </a>
    </div>
    <div id="collapse{{ data.id }}" class="card-collapse collapse">
      <p class="card-text">
	{% include "mridatabase/data_detail.html" with data=data %}
      </p>
    </div>
  </div>
  <br>
  {% endfor %}
  <h5>
    {% show_pages %}
  </h5>
</div>
<br>
<br>
{% endblock %}
