{% extends 'mridatabase/base.html' %}
{% load static from staticfiles %}


{% block body_block %}
<br>
<div class="col text-center">
  <div class="card container">
    <div class="card-block alert alert-warning">
      <p>
	Please read the Terms of Service and ensure your datasets are anonymized before uploading!
      </p>
    </div>
    <div class="card-block">
      <form method="POST" class="data-form data-form-default" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="table">
	  {{ forms.management_form }}
	  {% for form in forms %}
	  <tbody class="link-formset"> 
	    {% include "mridatabase/upload_anatomy.html" %}
            <tr>
              <th><label for="{{ form.fullysampled.id_for_label }}">Fullysampled:</label></th>
              <td>
		{{ form.fullysampled }}
	      </td>
            </tr>
	    {% include "mridatabase/upload_file.html" %}
	  </tbody>
	  {% endfor %}
	</table>
	<div class="text-center terms-container">
	  <input type="checkbox" required>
	  <label>I agree to the <a class="terms" href="#">Terms of Service</a></label>
	</div>
	<button type="submit" class="save btn btn-primary">Upload</button>
      </form>
      <br>
    </div>
  </div>
</div>
{% include "mridatabase/terms_modal.html" %}
{% endblock %}
